<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PFC - Cadastro de Usuários</title>
    <link rel="stylesheet" href="./css/global.css" />
  </head>
  <body>
    <div class="container">
      <h1>Cadastro de Usuários</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Usuário</th>
            <th>Senha</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#newUserModal"
        >
          Novo Usuário
        </button>
      </div>
    </div>
    <script async></script>
  </body>
</html>
