main {
  padding: 20px;
}

section {
  margin-bottom: 20px;
}

body {
  height: 100vh;
}

button {
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

#conteudoTabela p {
  text-align: center;
  padding: 20px;
  margin: 20px 20px 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
}
