form {
  display: flex;
  flex-direction: column;
  width: unset;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.alert-danger {
  color: #c0392b;
  background-color: #fdd8d8;
  border-color: #d7ccc8;
  padding: 10px;
  margin-top: 20px;
  border-radius: 3px;
}

p {
  margin-top: 20px;
}
